body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

.cover {
  list-style: none;
  display: flex;
  background-image: url(images/background_geo.jpg);
  background-size:cover;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: column;
  flex: auto;

}

.page-links{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.links {
  list-style: none;
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.links li {
  text-decoration: none;
  display: block;
  padding: 5px;
}

.center-item {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.bottom-section {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  flex-direction: column;
}

.link-columns{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex: auto;
}

.footer-gradient {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-end;
  flex: auto;
}

.contact-options {
  list-style: none;
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.contact-options li{
  text-decoration: none;
  display: block;
  padding: 20px;
}
