body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: white;
}
div {
  display: block;
}

.cover {
  background-image: url(images/background_geo.jpg);
  background-size:cover;
}

.cover.gradient {
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,#000 67%);
  background:linear-gradient(to bottom,rgba(0,0,0,0) 0,#400080 67%);
}
